<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_URI} \.(css|jpg|gif|png|zip|rar|doc|xls|js|tif|tiff|docx|xlsx|ico)$
    RewriteRule ^(.*)$ $1 [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !/www/index.php
    RewriteRule ^(.*)$ /www/index.php [L,QSA]
</IfModule>